.presentation
  display: inline-block

.angularLogo
  @extend .presentation
  background-size: 383px 108px
  background: url('../images/AngularJS-large.png') no-repeat
  width: 95px
  height: 100px

.bootstrapLogo
  @extend .presentation
  background-size: 100% 100%
  background: url('../images/bootstrap.png') no-repeat
  width: 100px
  height: 100px

.bowerLogo
  @extend .presentation
  background-size: 100% 100%
  width: 100px
  height: 100px
  background: url('../images/bower-logo.png') no-repeat

.herokuLogo
  @extend .presentation
  background-size: 100% 100%
  background: url('../images/heroku.png') no-repeat
  width: 354px
  height: 100px

.npmlogo
  @extend .presentation
  background-size: 100% 100%
  background: url('../images/npm.png') no-repeat
  width: 256px
  height: 100px


.blankZoom
  display: inline-block
  height: 20px
  width: 20px

.art span img
  @extend .presentation
  max-height: 200px
  width: 155px
  height: 100%

.compare:before
  @extend .presentation
  content: 'vs.'
  display: block
  font-weight: bold
  color: #ffffff

.white
  color: #ffffff
  background-color: #000000
  border-radius: 5px

.horizontal
  width: 100%
  display: inline-flex
  height: 350px


.hidden
  display: none


.reveal section.noborder img
  border: none
  box-shadow: none
  margin: 0
  background: none


.boxedup
  background: rgba(256, 256, 256, 0.7)
  border: azure 1px solid
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9)

.reveal section .boxedup img
  border: none
  box-shadow: none
  margin: -23px
  background: none
  padding: 0
  position: relative



